<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<link rel="stylesheet" th:href="@{/css/cstyle.css}" />
</head>
<body>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<div th:replace="layout.html :: header"></div>

	<div class="page-wrapper">
		
		<div th:replace="layout.html :: sidebar"></div>

		<main class="page-content">
		<div class="alert alert-danger" id="alert_delete"
				th:style="${error}!=''?'display:block':'display:none'">
				<p id="p-alert"
					th:style="${error}!=null?'display:flex':'display:none'">
					<i class="fa-solid fa-circle-exclamation" style="margin-right: 10px; font-size: large;"></i> [[${error}]]
				</p>
			</div>
			<div id="page-title">
				<h1>Create Class</h1>
			</div>
			<div id="page-detail">
				<div id="page-detail-content">
					<div id="page-detail-content-input">
						<ul class="nav nav-tabs">
							<li class="nav-item"><a class="nav-link active" href="">Information</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="">Trainee</a>
							</li>
						</ul>
						<div id="page-class-input">
							<div id="page-class-general">
								<div id="general-title" class="page-class-item-title">
									<button type="button"
										class="btn btn-outline dropdown-toggle dropdown-toggle-split page-btn-class"
										id="btn-general" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false"></button>
									<span class="page-class-title-name">General<span>
								</div>

								<form th:action="@{/api/v1/class_batch/create}" method="POST"
									id="form1" th:object="${class_batch}"
									enctype="multipart/form-data">
									
									<input type="hidden" id = "budget" th:value = "${list_budget}"> 

									<div id="general-content">
										<input type="hidden" th:field="*{classBatchId}"
											th:value="${class_batch.classBatchId}">
										<div class="input-row">
											<div class="page-class-input-format input-format">
												<div style="width: 40%;" class="input-format-title">
													<span style="margin-left: 5px;">Class Code</span>
												</div>
												<input style="width: 60%;" type="text"
													class="form-control input-format-type" pattern="^Site_(FR|CP)_[a-zA-Z\\\\s,]+_[0-9]{2}_[0-9]{2}$" title="Class code must be format Site_FR_Skill_YY_XX or Site_CP_Skill_YY_XX!"
													th:field="*{classCode}" th:value="${class_batch.classCode}" required/> 
											</div>

											<div
												class="page-class-input-format input-format none-border-left">
												<div style="width: 40%;" class="input-format-title">
													<span style="margin-left: 5px;">Class Name</span>
												</div>
												<input style="width: 60%;" type="text"
													class="form-control input-format-type"
													th:field="*{className}" required/>
											</div>

											<div
												class="page-class-input-format input-format none-border-left">
												<div style="width: 40%;" class="input-format-title">
													<span style="margin-left: 5px;">Status</span>
												</div>
												
												<input style="width: 60%;" type="text"
													class="form-control input-format-type" th:value='${"DRAFT"}' id="status" name="status" placeholder="DRAFT" readonly/>
											</div>
										</div>

										<div class="input-row">
											<div class="page-class-input-format input-format">
												<div style="width: 40%;" class="input-format-title">
													<span style="margin-left: 5px;">Planned Trainee No</span>
												</div>
												<input style="width: 60%;" type="text"
													class="form-control input-format-type"
													th:field="*{plannedTraineeNumber}" required/>
											</div>

											<div
												class="page-class-input-format input-format none-border-left">
												<div style="width: 40%;" class="input-format-title">
													<span style="margin-left: 5px;">Accepted Trainee No</span>
												</div>
												<input style="width: 60%;" type="text"
													class="form-control input-format-type"
													th:field="*{acceptedTraineeNumber}" required/>
											</div>

											<div
												class="page-class-input-format input-format none-border-left">
												<div style="width: 40%;" class="input-format-title">
													<span style="margin-left: 5px;">Actual Trainee No</span>
												</div>
												<input style="width: 60%;" type="text"
													class="form-control input-format-type"
													th:field="*{actualTraineeNumber}" required/>
											</div>
										</div>

										<div class="input-row">

											<div class="page-class-input-format input-format">
												<div style="width: 50%;" class="input-format-title">
													<span style="margin-left: 5px;">Expected Start Date
														*</span>
												</div>

												<input style="width: 50%;" type="date"
													class="form-control input-format-type" id="startDateExpected"
													th:field="*{expectedStartDate}" required/>

											</div>

											<div
												class="page-class-input-format input-format none-border-left">
												<div style="width: 50%;" class="input-format-title">
													<span style="margin-left: 5px;">Expected End Date *</span>
												</div>
												<input style="width: 50%;" type="date" id = "endDateExpected"
													class="form-control input-format-type"
													th:field="*{expectedEndDate}" required/>
											</div>
										</div>

										<div class="input-row">

											<div class="page-class-input-format input-format">
												<div style="width: 50%;" class="input-format-title">
													<span style="margin-left: 5px;">Location</span>
												</div>

												<select style="width: 50%;"
													class="form-control input-format-type"
													th:field="*{location.locationId}">
													<option th:each="location : ${list_location}"
														th:value="${location.locationId}"
														th:text="${location.locationName}"></option>
												</select>

											</div>

											<div
												class="page-class-input-format input-format none-border-left">
												<div style="width: 50%;" class="input-format-title">
													<span style="margin-left: 5px;">Detailed Location</span>
												</div>
												<input style="width: 50%;" type="text"
													class="form-control input-format-type"
													th:field="*{detailLocation}" required/>
											</div>
										</div>

										<div class="input-row">

											<div class="page-class-input-format input-format">
												<div style="width: 50%;" class="input-format-title">
													<span style="margin-left: 5px;">Budget Code *</span>
												</div>

												<select style="width: 50%;" id="budget-code"
													class="form-control input-format-type"
													th:field="*{budget.id}">
													<option th:each="budget : ${list_budget}"
														th:value="${budget.id}" th:text="${budget.budgetCode}"></option>
												</select>

											</div>

											<div
												class="page-class-input-format input-format none-border-left">
												<div style="width: 50%;" class="input-format-title">
													<span style="margin-left: 5px;">Estimated Budget *</span>
												</div>
												<input style="width: 50%;" type="text"
													class="form-control input-format-type"
													th:field="*{estimatedBudget}" required/>
											</div>
										</div>

										<div class="input-row">

											<div
												class="page-class-input-format input-format bordered-bottom">
												<div style="width: 50%;" class="input-format-title">
													<span style="margin-left: 5px;">Class Admin *</span>
												</div>

												<select style="width: 50%;" type="date"
													class="form-control input-format-type"
													th:field="*{classAdmin.id}">
													<option th:each="admin : ${list_admin}"
														th:value="${admin.id}" th:text="${admin.username}"></option>
												</select>

											</div>

											<div
												class="page-class-input-format input-format none-border-left bordered-bottom">
												<div style="width: 50%;" class="input-format-title">
													<span style="margin-left: 5px;">Weighted Number</span>
												</div>
												<input style="width: 50%;" type="text"
													class="form-control input-format-type" disabled />
											</div>
										</div>

									</div>

									<br>

									<div id="page-class-detail">
										<div id="detail-title" class="page-class-item-title">
											<button type="button"
												class="btn btn-outline dropdown-toggle dropdown-toggle-split page-btn-class"
												id="btn-general" data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"></button>
											<span class="page-class-title-name">Detail<span>
										</div>
										<div id="detail-content">

											<div class="input-row">
												<div class="page-class-input-format input-format">
													<div style="width: 40%;" class="input-format-title">
														<span style="margin-left: 5px;">Subject Type</span>
													</div>
													<select style="width: 60%;" type="text"
														class="form-control input-format-type"
														th:field="*{subjectType.subjectTypeId}">
														<option th:each="s : ${list_subject}"
															th:value="${s.subjectTypeId}"
															th:text="${s.subjectTypeName}"></option>
													</select>
												</div>

												<div
													class="page-class-input-format input-format none-border-left">
													<div style="width: 40%;" class="input-format-title">
														<span style="margin-left: 5px;">Sub-Subject Type</span>
													</div>
													<select style="width: 60%;" type="text"
														class="form-control input-format-type"
														th:field="*{subSubjectType.subSubjectTypeId}">
														<option th:each="s : ${list_subsubject}"
															th:value="${s.subSubjectTypeId}"
															th:text="${s.subSubjectTypeName}"></option>
													</select>
												</div>

												<div
													class="page-class-input-format input-format none-border-left">
													<div style="width: 40%;" class="input-format-title">
														<span style="margin-left: 5px;">Delivery Type</span>
													</div>
													<select style="width: 60%;" type="text"
														class="form-control input-format-type"
														th:field="*{deliveryType.deliveryTypeId}">
														<option th:each="d : ${list_delivery}"
															th:value="${d.deliveryTypeId}"
															th:text="${d.deliveryTypeName}"></option>
													</select>
												</div>
											</div>

											<div class="input-row">
												<div class="page-class-input-format input-format">
													<div style="width: 40%;" class="input-format-title">
														<span style="margin-left: 5px;">Format Type</span>
													</div>
													<select style="width: 60%;" type="text"
														class="form-control input-format-type"
														th:field="*{formatType.id}">
														<option th:each="f : ${list_format}" th:value="${f.id}"
															th:text="${f.formatTypeName}"></option>
													</select>
												</div>

												<div
													class="page-class-input-format input-format none-border-left">
													<div style="width: 40%;" class="input-format-title">
														<span style="margin-left: 5px;">Scope</span>
													</div>
													<select style="width: 60%;" type="text"
														class="form-control input-format-type"
														th:field="*{scope.id}">
														<option th:each="scope : ${list_scope}"
															th:value="${scope.id}" th:text="${scope.scopeName}"></option>
													</select>
												</div>

												<div
													class="page-class-input-format input-format none-border-left">
													<div style="width: 40%;" class="input-format-title">
														<span style="margin-left: 5px;">Supplier / Partner</span>
													</div>
													<select style="width: 60%;" type="text"
														class="form-control input-format-type"
														th:field="*{supplierPartner.id}">
														<option th:each="sp: ${list_supplier}" th:value="${sp.id}"
															th:text="${sp.supplierPartnerName}"></option>
													</select>
												</div>
											</div>

											<div class="input-row">

												<div class="page-class-input-format input-format">
													<div style="width: 50%;" class="input-format-title">
														<span style="margin-left: 5px;">Actual Start Date *</span>
													</div>

													<input style="width: 50%;" type="date" id="startDateActual"
														class="form-control input-format-type"
														th:field="*{actualStartDate}" required/>

												</div>

												<div
													class="page-class-input-format input-format none-border-left">
													<div style="width: 50%;" class="input-format-title">
														<span style="margin-left: 5px;">Actual End Date *</span>
													</div>
													<input style="width: 50%;" type="date" id="startDateActual"
														class="form-control input-format-type"
														th:field="*{actualEndDate}" required/>
												</div>
											</div>

											<div class="input-row">

												<div class="page-class-input-format input-format">
													<div style="width: 50%;" class="input-format-title">
														<span style="margin-left: 5px;">Master Trainer</span>
													</div>

													<select style="width: 60%;" type="text"
														class="form-control input-format-type"
														th:field="*{masterTrainer.trainerId}">
														<option value="0">All</option>
														<option th:each="mt : ${list_trainer}"
															th:value="${mt.trainerId}" th:text="${mt.username}"></option>
													</select>
												</div>
											</div>

											<div class="input-row">
												<div
													class="page-class-input-format input-format bordered-bottom">
													<div style="width: 50%;" class="input-format-title">
														<span style="margin-left: 5px;">Cirriculumn</span>
													</div>

												 <label for="files" id="fileName" class="btn">Select file</label>
													<input id="files" style="display: none;" type="file" 
														class="form-control input-format-type">
														<input type="text" style="display: none" id="textFileName" th:field="*{curriculumn}">

												</div>

												<div
													class="page-class-input-format input-format none-border-left bordered-bottom">
													<div style="width: 50%;" class="input-format-title">
														<span style="margin-left: 5px;">Remarks</span>
													</div>
													<input style="width: 50%;" type="text"
														class="form-control input-format-type"
														th:field="*{remarks}" />
												</div>
											</div>


										</div>
										<div id="general-input-detail"></div>
									</div>

									<br>


									<div id="page-class-budget">
										<div id="budget-title" class="page-class-item-title">
											<button type="button"
												class="btn btn-outline dropdown-toggle dropdown-toggle-split page-btn-class"
												id="btn-general" data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"></button>
											<span class="page-class-title-name">Budget<span>
										</div>
										<div id="budget-content">

											<div class="input-row">

												<div class="page-class-input-format input-format">
													<div style="width: 50%;" class="input-format-title">
														<span style="margin-left: 5px;">Total</span>
													</div>

													<input style="width: 50%;" type="text" id="budget-total"
														class="form-control input-format-type fill-color"
														th:field="*{budget.total}"
														th:value="${class_batch.budget.total}" readonly />

												</div>

												<div
													class="page-class-input-format input-format none-border-left">
													<div style="width: 50%;" class="input-format-title">
														<span style="margin-left: 5px;">Over Budget</span>
													</div>
													<input style="width: 50%;" type="text" id="over-budget"
														class="form-control input-format-type fill-color"
														th:field="*{budget.overBudget}"
														th:value="${class_batch.budget.overBudget}" readonly />
												</div>
											</div>

											<div class="input-row">
												<div class="page-class-input-format input-form"
													style="width: 100%; border: 1px solid;">
													<button type="button"
														class="btn btn-outline page-btn-class"
														id="btn-budget-create" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"
														style="background-color: rgb(240, 238, 236); color: green;">
														<i class="fa-solid fa-circle-plus"></i>
													</button>
													<div class="flex-row-container">
													<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Item Name</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Unit</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Unit Expense</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Quantity</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Amount</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Tax</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Sum</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Note</span>
														</div>
													</div>
												</div>
											</div>


											<div id="add-budget">
											
											</div>
										</div>

									</div>

									<br>

									<div id="page-class-audit">
										<div id="audit-title" class="page-class-item-title">
											<button type="button"
												class="btn btn-outline dropdown-toggle dropdown-toggle-split page-btn-class"
												id="btn-general" data-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"></button>
											<span class="page-class-title-name">Audit<span>
										</div>
										<div id="audit-content">

											<div class="input-row">
												<div class="page-class-input-format input-form"
													style="width: 100%; border: 1px solid;">
													<button type="button"
														class="btn btn-outline page-btn-class"
														id="btn-audit-create" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"
														style="background-color: rgb(240, 238, 236); color: green;">
														<i class="fa-solid fa-circle-plus"></i>
													</button>
													<div class="flex-row-container">
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Date</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Event Category</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Related People</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Action</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">PIC</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Deadline</span>
														</div>
														<div style="flex: 1; height: 100%;"
															class="bordered-right fill-aliceblue-color flex-row-container">
															<span style="margin-left: 5px;">Note</span>
														</div>
													</div>
												</div>
											</div>



											<div class="input-row">
												<div class="page-class-input-format input-form"
													style="width: 100%; border: 1px solid;">
													<button type="button"
														class="btn btn-outline page-btn-class"
														id="btn-budget-create" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false"
														style="background-color: rgb(240, 238, 236); color: red;">
														<i class="fa-solid fa-trash-can"></i>
													</button>
													<div class="flex-row-container none-border-top">
														<input type="date" style="flex: 1; height: 100%;"
															class="bordered-right flex-row-container none-border-top form-control none-border-radius"
															readonly /> <select style="flex: 1; height: 100%;"
															class="bordered-right flex-row-container none-border-top form-control none-border-radius"
															disabled></select> <input type="text"
															style="flex: 1; height: 100%;"
															class="bordered-right flex-row-container none-border-top form-control none-border-radius"
															readonly /> <input type="text"
															style="flex: 1; height: 100%;"
															class="bordered-right flex-row-container none-border-top form-control none-border-radius"
															readonly /> <input type="text"
															style="flex: 1; height: 100%;"
															class="bordered-right flex-row-container none-border-top form-control none-border-radius"
															readonly /> <input type="date"
															style="flex: 1; height: 100%;"
															class="bordered-right flex-row-container none-border-top form-control none-border-radius"
															readonly /> <input type="text"
															style="flex: 1; height: 100%;"
															class="bordered-right flex-row-container none-border-top form-control none-border-radius"
															readonly />
													</div>
												</div>
											</div>

										</div>

									</div>


								</form>

							</div>
						</div>


						<br>

					</div>



					<div id="page-detail-content-buttons">
						<button type="submit" class="btn" id="btn-submit-create-class"
							form="form1"><i class="fa-solid fa-circle-arrow-up"
								style="margin-right: 5px; color: maroon;"></i>Create</button>
						<a th:href="@{/api/v1/class_batch/}">
							<button type="button" class="btn" id="btn-close-create-class">
								<i class="fa-solid fa-left-long"
									style="margin-right: 5px; color: red;"></i>Close
							</button>
					</div>
				</div>
			</div>
		</main>
	</div>

	<footer>
		<div class="footer-content">
			<div class="footer-menu">
				<div>
					<i class="fa-solid fa-circle-question"></i> <a href="">Help</a>
				</div>

				&emsp;

				<div>
					<i class="fa-regular fa-calendar-check"></i> <a href="">Create
						ticket on F12.0</a>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		var alert2 = document.getElementById("alert_delete");
		setTimeout(function() {
			hide(alert2);
		}, 5000);
		function hide(element) {
			element.style.display = "none";
		}
	</script> 
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>
