<div id="status" class="modal fade" tabindex="-1" role="dialog"
	th:fragment="status">
	<div class="modal-dialog" style="width: 500px" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">This is Status</h4>
			</div>

			<div class="modal-body">
				<form class="list-content-body" th:object="${t}"
					th:action="@{/api/v1/trainee/get_all}" method="post">
					<input name="classId" th:value="${classId}" type="hidden"/>
					<div class="table-responsive">

						<table class="table table-bordered data_table">
							<thead style="background-color: #cacaca">
								<tr>
									<th scope="col">Empl ID</th>
									<th scope="col">Name</th>
									<th scope="col">Status</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="i, itemStat : *{traineeDtos}">
									<td width="15%"><input
										th:name="|traineeDtos[${itemStat.index}].traineeId|"
										th:value="${i.traineeId}" readonly="readonly" class="w-100" style="border: none;"></td>
									<td width="45%"><input
										th:name="|traineeDtos[${itemStat.index}].traineeCandidateProfile.fullName|"
										th:value="${i.traineeCandidateProfile.fullName}"
										readonly="readonly" class="w-100" style="border: none;"></td>
									<td width="40%"><select class="w-100" style="border: none;"
										th:name="|traineeDtos[${itemStat.index}].status.id|"
										th:value="${i.status.id}">
											<option th:each="l : ${s}" th:text="${l.statusName}"
												th:value=${l.id} th:selected="${l.id==i.status.id}">
									</select ></td>
								</tr>
							</tbody>
						</table>
					</div>
					<button type="submit" class="list-content-advanced-btn btn-update"
						name="status">
						<i class="fa-solid fa-circle-arrow-up" style="color: blue"></i>
						Update
					</button>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->